<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Length</th>
    <th>Description</th>
    <th>Year</th>
  </tr>
  <tr>
    <td><%= @movie.name %></td>
    <td><%= @movie.length %></td>
    <td><%= @movie.description %></td>
    <td><%= @movie.year %></td>
  </tr>
</table>

<%= link_to "Delete this Movie", "/movies/#{@movie.id}", method: :delete %>